.user-data {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E8E7E7;
    margin-top: 16px;
}
.user-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}
.username {
    color: grey;
}