.search {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}
.search.search--top {
    justify-content: flex-start;
    align-items: flex-start;
}
.search.seacrh--center {
    justify-content: center;
    align-items: center;
}